.menu {
    font-size:20px;
    color:white;
    text-decoration:none;
}

.btn{
    background-color:black;
     border-radius:5px;
     padding:4px 20px;
     
}

.btn:hover{
    background-color: green;
}
.check{
    font-size:20px;
}

.menu-item {
    background-color:aquamarine;
    padding: 10px;
    border-radius:10px;
    margin:10px
}
.img{
    border-radius:20px
}
.item-Description{
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
}